
.home,
.content,
.back {
	position: absolute;
	border-radius: 10px;
	background: linear-gradient(to bottom right, #484848 , #3f3b38);
	transform-origin: left;
	transition-duration: 3s;
}
.home,
.content {
		display:none;
 }
 .home {
 	z-index: 1;
 	box-shadow: #222 -20px 20px 20px;
 }
 .content {
	background: #fff;
		box-shadow: #383838 -1px 1px 1px;
}



.home_open {
	box-shadow: #222 -1px 1px 6px;
}


.logo {
	position: relative;
	width: 80px;
	height: 74px;
	margin: 60px auto 0;
	border-radius: 50%;
	text-align: center;
	line-height: 74px;
  border: 2px solid #f3f3f3;
  font-size: 24px;
}
.logo:before {
	content: '';
	display: block;
	position: absolute;
	top: -6px;
	left: -6px;
	width: 88px;
	height: 82px;
	border-radius: 50%;
  border: 2px solid #f3f3f3;
} 
.home_title {
	margin: 10px 0;
	text-align: center;
	font-size: 28px;
}
.home_content {
	text-align: center;
	font-size: 16px;
	padding: 4px 0;
	border-top: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
}
.year {
	font-size: 50px;
	text-align: center;
}
.switch_close {
	position: absolute;
	top: 50%;
	right: -4px;
	width: 110px;
	height: 60px;
	background-color: #3b3833;
	border: 1px solid #3b3833;
	border-bottom-left-radius: 40px;
	border-top-left-radius: 40px;
	box-shadow: #222 -5px 5px 5px;
	transform-origin: 100%;
}
.switch_close:before {
	content: '';
	position: absolute;
	left: 15px;
	top: calc(50% - 13px);
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #6f6f6f;
}
.switch_open {
	display: none;
	position: absolute;
	top: 50%;
	right: -112px;
	width: 110px;
	height: 60px;
	background-color: #3b3833;
	border: 1px solid #3b3833;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 40px;
	box-shadow: #222 5px -5px 5px;
	transition-duration: 2s;
}
.switch_open:before {
	content: '';
	position: absolute;
	right: 15px;
	top: calc(50% - 13px);
	width: 26px;
	height: 26px;
	border: 1px dashed #6f6f6f;
	border-radius: 50%;
}

.click_tips {
	display: none;
	font-size: 12px;
	color: #008DF1;
	text-align: center;
	padding: 10px 20px;
  position: relative; 
  width: 60px;
  height: 60px;
  border-radius: 38px;
  background: #fff;
  z-index: 100;
  box-shadow: #333 0 0 2px;
  transition-delay: 3s;
  transition-duration: 2s;
}
.click_tips:after {
	position:absolute;
	left: -6px;
	top: 34px;
	padding: 8px;
	content:"";
	background: inherit;
	transform: rotate(45deg);
}
.photo {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 55px;
	height: 101px;
}
.content_title,
.content_text {
	color: #3f3b38;
}

.content_title>h3 {
	font-size: 32px;
	text-align: center;
	margin: 0 0 20px;
}
.content_title>p {
	font-size: 28px;
	text-align: center;
	margin: 0;
}
.content_text>p {
	font-size: 16px;
	margin: 0;
	line-height: 36px;
}

	.home,.back {
		left: calc(50% - 230px);
		top: calc(50% - 325px);
		width: 460px;
		height:  650px;
	}
	.content {
		left: calc(50% - 228px);
		top: calc(50% - 323px);
		width: 456px;
		height:  646px;
	}
	.year {
		margin-top: 150px;
	}
	.content_title{
		padding-top: 160px;
	}
	.content_text{
		padding: 160px 30px;
	}
	.click_tips {
		left: 475px;
		top: 530px;
	}

