@charset "utf-8";

/* 整体布局 */
.left {
  float: left;
}

.right {
  float: right;
}

.clearFix {
  zoom: 1;
}

.clearFix:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.col-8 {
  width: 66.6666%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-4 {
  width: 33.3333%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.mar-right {
  margin-right: .25rem
}

.mar-left {
  margin-left: .25rem;
}

.btn {
  background-color: #38a4ab;
  padding: .12rem .2rem;
  color: #fff;
}

.btn:hover {
  background-color: #057178;
}

.btn-border-left {
  border-left: .01rem solid #ccc;
  margin-left: -.01rem;
}

::-webkit-scrollbar {
  width: .1rem;
  height: .1rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 .06rem rgba(0, 0, 0, .3);
  border-radius: .05rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 .06rem rgba(0, 0, 0, .3);
  border-radius: .05rem;
  background-color: #38a4ab;
}

::selection {
  background-color: #38a4ab;
  color: #fff;
}

::-moz-selecttion {
  background-color: #38a4ab;
  color: #fff;
}

/* 头部样式 */
header {
  padding: .3rem 0;
  background: #f5f5f5;
  border: .02rem solid rgba(0, 0, 0, 0.06);
}
header>nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right>a {
  position: relative;
  margin-left: .2rem;
}
.nav-right>a:after {
  content: '';
  height: .04rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.1rem;
  background-color: #38a4ab;
  display: none;
}
.nav-right>a:hover:after {
  display: inline-block;
}


.container {
  max-width: 19.6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .7rem;
}

.logo {
  font-weight: bold;
  font-size: .56rem;
  color: #38a4ab;
}

.logo > span {
  color: #242d3c;
}

/* 横幅样式 */
.banner {
  min-height: 4rem;
  background-color: #38a4ab;
}

.banner-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.banner-left {
  max-width: 13rem;
  color: #fff;
}

.banner-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.banner-title > span {
  color: #242d3c;
}

.banner-text {
  font-size: .36rem;
  padding: .44rem 0 .24rem;
  text-align: center;
}

.banner-box {
  width: 5.6rem;
  height: 3.6rem;
  background: #fafafa;
  outline: .08rem double #FFFFFF;
  outline-offset: .16rem;
  margin-right: .24rem;
  padding: .4rem;
}

.banner-detail {
  font-size: .4rem;
  color: #3ba4ab;
  margin-top: 1rem;
  line-height: .8rem;
}

/* 项目内容区 */
.projects {
  margin-top: .8rem;
  margin-bottom: .8rem;
}

.item {
  margin-top: .5rem;
  padding: .3rem;
  background: #fafafa;
  color: #444444;
  border: .02rem solid #dddddd;
  border-radius: .08rem;
  position: relative;
  cursor: pointer;
}

.item:hover {
  background-color: #ddeeee;
}

.remarks {
  color: #fff;
  background-color: #38a4ab;
  padding: .04rem .12rem;
  border-radius: .06rem;
}

.projects .title {
  margin-top: .1rem;
  margin-bottom: .3rem;
  font-size: .36rem;
  line-height: .42rem;
  font-weight: bold;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects .detail {
  font-size: .32rem;
  min-height: .8rem;
  line-height: .4rem;
  color: #666;
  margin-bottom: .3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 文章区样式 */
.article {
  background-color: #f6f6f6;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.article-item {
  position: relative;
  box-shadow: 0 0 0 #818181;
  transition: all 0.2s ease 0s;
  -webkit-transform: translateY(0) translateX(0);
}

.article-item:before,
.article-item:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 100%;
  height: .06rem;
  background: #818181;
  -webkit-transform: scaleX(0);
  transition: all 0.2s ease;
}

.article-item:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
}

.article-item:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 0;
}

.article-item:hover {
  box-shadow: .4rem .4rem 0px #818181;
  -webkit-transform: translateY(-.2rem) translateX(-.2rem);
  transition: all 0.2s ease 0.4s;
}

.article-item:hover:after,
.article-item:hover:before {
  -webkit-transform: scaleX(1);
}

.article-box {
  background: #ffffff;
  padding: .6rem .7rem;
  margin-bottom: 30px;
  border: .02rem solid rgba(129, 129, 129, 0.1);
  height: 6.6rem;
  overflow-y: hidden;
}

.article-box:before,
.article-box:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: .06rem;
  height: 100%;
  background: #818181;
  -webkit-transform: scaleY(0);
  transition: all 0.2s ease 0.2s;
}

.article-box:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 100%;
}

.article-box:after {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
}

.article-box:hover:after,
.article-box:hover:before {
  -webkit-transform: scaleY(1);
}

.article-box > .title {
  text-align: center;
  font-size: .36rem;
  font-weight: bold;
  margin-bottom: .2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-box > .data {
  display: block;
  text-align: center;
  font-size: .26rem;
  margin-bottom: .3rem;
}

.article-box > .detail {
  font-size: .32rem;
  line-height: .6rem;
  color: #666;
  text-indent: .64rem;
}

.article-box > .more {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  font-weight: bold;
  background: -webkit-linear-gradient(rgba(192, 192, 192, .3) 30%, rgba(192, 192, 192, .6) 50%, rgba(192, 192, 192, 1) 100%);
  background: -o-linear-gradient(rgba(192, 192, 192, .3) 30%, rgba(192, 192, 192, .6) 50%, rgba(192, 192, 192, 1) 100%);
  background: linear-gradient(rgba(192, 192, 192, .3) 30%, rgba(192, 192, 192, .6) 50%, rgba(192, 192, 192, 1) 100%);
}

.more-item {
  padding: .08rem .36rem;
  background-color: #38a4ab;
  color: #fff;
  border-radius: .06rem;
  cursor: pointer;
}

.more-item > i {
  font-size: .32rem;
  padding-right: .18rem;
}

/* 联系区样式 */
.contact {
  min-height: 4rem;
  background-color: #38a4ab;
}

.img {
  width: 4rem;
  height: 5.3rem;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 auto;
}

.img > img {
  width: 100%;
}

.contact-item {
  padding: .6rem 0;
  text-align: center;
}

.contact-item > a {
  color: #fff;
  font-size: .4rem;
  text-align: center;
}

.contact-item .iconfont {
  display: block;
  font-size: 1rem;
  margin-bottom: .2rem;
}

/* 尾部样式 */
footer {
  background: #242d3c;
  color: #eee;
  padding: .4rem 0;
  text-align: center;
}

footer p:first-child {
  margin-bottom: .2rem;
}

footer p > a {
  padding-right: .1rem;
}

footer p > a:after {
  content: '';
  display: inline-block;
  width: .02rem;
  height: .2rem;
  border-right: .02rem solid #ccc;
  padding-left: .16rem;
}

footer p > a:last-child:after {
  display: none;
}

/* 简历页面样式 */

.resume {
  margin-top: .8rem;
  margin-bottom: .8rem;
  font-family: cursive;
}

.resume-box {
  display: flex;
  border: .02rem solid #ddd;
  min-height: 10rem;
}

.resume-left {
  margin-top: 1.4rem;
  margin-bottom: .6rem;
}

.resume-item {
  position: relative;
  margin-left: 1rem;
  padding: .72rem .2rem .4rem;
  border-top: .02rem solid #ccc;
  border-left: .02rem solid #ccc;
}

.resume-item:last-child {
  border-bottom: .02rem solid #ccc;
}

.resume-item > .title {
  position: absolute;
  top: -.3rem;
  left: -.57rem;
  height: .5rem;
  width: 4rem;
  line-height: .5rem;
  background-color: #383c3d;
  padding: .12rem .3rem;
  color: #efefef;
  font-size: .42rem;
  border-top-left-radius: .37rem;
  border-bottom-left-radius: .37rem;
  -webkit-print-color-adjust: exact;
}

.resume-item > .title > .iconfont {
  font-size: .56rem;
  font-weight: bold;
  vertical-align: middle;
  padding-right: .52rem;
}

.resume-item > div > span {
  display: inline-block;
  font-size: .34rem;
  font-weight: bold;
  padding: .08rem .6rem .08rem .2rem;
}

.resume-item > .detail {
  margin-bottom: .08rem;
}

.resume-item > .detail > span {
  font-size: .34rem;
  font-weight: bold;
  padding: .2rem .6rem .08rem .2rem;
}

.resume-item > .detail > ul {
  list-style: inherit;
  padding-left: .5rem;
  font-size: .3rem;
  font-weight: 600;
}

.resume-item > .detail > ul > li {
  line-height: .36rem;
}

.resume-item .intro {
  display: inline-block;
  text-indent: .6rem;
  line-height: .4rem;
  padding-top: 0;
}

.resume-right {
  flex: 1;
  background-color: #d4cbc6;
  min-height: 10rem;
  -webkit-print-color-adjust: exact;
}

.resume-user > .img {
  position: relative;
  width: 3.4rem;
  height: 4.6rem;
  margin: 2rem auto .2rem;
  border-radius: 0;
  box-shadow: .08rem .08rem 0 rgba(0, 0, 0, .2);
}

.resume-user > .img:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: .16rem solid #fff;
}

.resume-user > .img > img {
  width: 100%;
}

.resume-user > .title {
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
  margin: .8rem auto;
}

.resume-user > .title > span {
  display: block;
}

.post {
  font-size: .42rem;
  padding: .6rem 0;
}

.resume-user > .detail {
  margin: .4rem .4rem .4rem .8rem;
}

.resume-user > .detail > span {
  font-size: .4rem;
  vertical-align: top;
}

.resume-user > .detail > .detail-title {
  display: inline-block;
  width: 1.8rem;
  text-align: justify;
}

.resume-user > .detail > .detail-title:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.resume-user > .detail > .detail-content:before {
  content: ':';
  margin-right: .24rem;
}

.resume-user > .detail > .detail-content > a {
  color: #333;
}

.resume-user > .detail > .detail-content > a:hover {
  color: #38a4ab;
}

/*简历---下载按钮*/
.download {
  position: fixed;
  bottom: 2.4rem;
  right: 2rem;
  font-size: 22px;
  color: #666;
  box-shadow: 0 0 5px 2px #c3c3c3;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
}

.download:hover {
  box-shadow: 0 0 5px 2px #999;
}

/* 404页面 */
.error-box {
  text-align: center;
  padding-top: 2.6rem;
}

.error-box > h1 {
  font-size: 3rem;
}

.error-box > p {
  font-size: .36rem;
  padding-bottom: .2rem;
}

.error-box > p > i {
  font-size: .4rem;
  font-weight: bold;
  padding-right: .2rem;
}

.error-box > a {
  margin-top: .2rem;
  display: inline-block;
  padding: .18rem .62rem;
  background-color: #38a4ab;
  color: #fff;
  border: .02rem dashed #38a4ab;
  border-radius: .32rem;
  transition: all .4s;
}

.error-box > a:hover {
  border: .02rem dashed #fff;
}

/* 总结页面 */
.summary-all {
  padding: 1rem 0;
}

.summary-all-item {
  position: relative;
  display: block;
  text-align: center;
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  border-radius: 50%;
  background-color: #e9e9e9;
  margin: .4rem auto;
  font-size: .2rem;
  font-weight: bold;
  cursor: pointer;
}

.summary-all-item:before {
  content: '';
  display: inline-block;
  border-left: .04rem dashed #e9e9e9;
  position: absolute;
  right: calc(50% - .02rem);
  top: -.4rem;
  bottom: 0;
  z-index: -1;
}

.summary-all-item:after {
  content: '';
  display: inline-block;
  border: .1rem solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -.1rem;
  bottom: -.1rem;
  left: -.1rem;
  right: -.1rem;
}

.summary-all-item:last-child:before {
  bottom: -.4rem;
}

.summary-all-item:hover {
  font-size: .34rem;
}

.summary-all-item:hover:after {
  border-color: #e9e9e9;
}

/*案例展示*/
.images {
  background-color: #f6f6f6;
  padding: .8rem 0;

}

.img-item {
  height: 100%;
  padding: .1rem;
  margin-right: .1rem;
  margin-bottom: .1rem;
  background-color: #c9dbdc;
}
.img-item>img {
  display: none;
  width: 100%;
  height: 100%;
  transition-duration: 1s;
}
.img-item>img:first-child {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.showAll>img {
  margin-bottom: .1rem;
  display: inline-block !important;
}


/* 日记内容*/
.diary {
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-family: Consolas,Monaco,'Andale Mono',monospace;
}
.diary-item {
  border-bottom: .06rem dashed #9ce8ec;
  padding: .8rem 0 .6rem;
}
.diary-item>.title {
  display: block;
  color: #2e2e2e;
  font: .56rem Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
  font-weight: 400;
  padding-bottom: .2rem;
  border-bottom: .02rem solid #e2e2e2;
}
.diary-item>.title:hover {
  color: #38a4ab;
  font-weight: bold;
  border-color: #38a4ab;
  cursor: pointer;
}
.diary-item>.sign {
  padding: .2rem 0;
}
.diary-item>.sign>.tag:hover {
  color: #38a4ab;
}
.diary-item>.sign>span,
.diary-item>.sign>a {
  padding: .1rem;
  display: inline-block;
  margin-right: .2rem;
  color: #969696;
}
.diary-item>.sign>span{
  white-space: nowrap;
}
.diary-item>.sign>.iconfont:before {
  padding-right: .04rem;
}
.diary-item>.content {
  white-space: pre-wrap;
  font-size: 0.28rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: .6rem;
}
.diary-item .btn {
  display: block;
  margin-top: .2rem;
  width: 1.4rem;
  height: .44rem;
  line-height: .44rem;
  background-color: #4ec2ca;;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.diary-item .btn:hover {
  background-color: #38a4ab;
}
.diary-more {
  display: block;
  text-align: center;
  color: #38a4ab;
  margin: .4rem auto;
  cursor: pointer;
}
.diary-detail-item {
  border-bottom: none;
}
.diary-detail-item .content {
  border-bottom: .04rem dashed #9ce8ec;
  background-color: #f5f2f0;
  padding: .4rem .2rem;
}
.diary-detail-item .content code{
  display: block;
  line-height: 1.8;
  background-color: #e6e6e6;
  margin: .16rem 0;
  overflow-x: auto;
}
.diary-detail-item .content code::-webkit-scrollbar-track,
.diary-detail-item .content code::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.diary-item .content img{
  display: block;
}
.diary-item .content .full-img{
  width: 100%;
  height: 100%;
}
.next-blog {
  display: flex;
  justify-content: space-between;
  margin: .4rem 0;
}
.diary-list {
  margin-left: 4rem;
}
.diary-list>.title {
  font-size: .42rem;
  color: #666;
}
.diary-list>.year {
  font-size: .32rem;
  color: #666;
}

.diary-list>.text>span {
  color: #999;
  font-size: .28rem;
  margin-right: .24rem;
}
.diary-list>.text>a {
  color: #666;
  font-size: .3rem;
  display: inline-block;
  vertical-align: middle;
  padding-top: .02rem;
  width: calc(100% - 2.4rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.diary-list>.text>a:hover {
  cursor: pointer;
  color: #38a4ab;
}
.diary-list>div {
  position: relative;
}
.diary-list>div>span {
  display: inline-block;
  margin-bottom: .6rem;
  margin-left: .4rem;
}
.diary-list>.title>span:last-child {
  margin-left: 0;
}
.diary-list>div:after {
  position: absolute;
  left: -.13rem;
  content: '';
  width: .14rem;
  height: .14rem;
  border: .06rem solid #38a4ab;
  border-radius: 50%;
  background-color: #fff;
}
.diary-list>.title:after {
  width: .18rem;
  height: .18rem;
  left: -.19rem;
  border: .1rem solid #38a4ab;
}
.diary-list>.year:after {
  border-color: #ff7242;
}
.diary-list>div:not(:last-child):before {
  position: absolute;
  content: '';
  width: .02rem;
  left: -.01rem;
  top: 0;
  bottom: 0;
  background-color: #38a4ab;
}
.diary-list>div:hover:after {
 border-color: #ff7242;
}
.diary-sign>.title{
  text-align: center;
  font-size: .56rem;
  margin: .4rem 0;
}
.sign-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .4rem;
  flex-wrap: wrap;
}
.sign-item>a {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  margin: .3rem .4rem;
}
.sign-tag {
  position: absolute;
  display: inline-block;
  font-size: .2rem;
  font-weight: normal;
  width: .5rem;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
  background: #ff7242;
  color: #fff;
  border-radius: 50%;
  top: -.2rem;
  transform: scale(.8);
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
}
.sign-item>.sign-xs {
  font-size: .28rem;
  opacity: .6;
}
.sign-item>.sign-sm {
  font-size: .32rem;
  opacity: .7;
}
.sign-item>.sign-md {
  font-size: .36rem;
  opacity: .8;
}
.sign-item>.sign-lg {
  font-size: .40rem;
  opacity: .9;
}
.sign-item>.sing-xl {
  font-size: .44rem;
}
@media screen and (min-width: 1920px) {
  .download {
    right: 4rem;
  }
}

@media screen and (max-width: 1600px) {
  .download {
    right: .1rem;
  }
}

@media screen and (min-width: 1220px) {
  .container {
    max-width: 24rem;
  }
}

@media screen and (max-width: 1220px) {
  .banner-title {
    font-size: 1.2rem;
  }

  footer {
    font-size: .22rem;
  }

  .contact-item > a {
    font-size: .3rem;
  }

  .contact-item .iconfont {
    font-size: .68rem;
  }

  .resume-item > div > span {
    padding: .08rem .16rem .08rem .16rem;
  }

  .resume-user > .detail {
    margin: .4rem .2rem .4rem .6rem;
  }

  .resume-user > .detail > span {
    font-size: .36rem;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    text-align: center;
  }

  .banner-left {
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .banner-title {
    padding-bottom: .2rem
  }

  .banner-text {
    padding: .1rem 0;
  }

  .banner-right {
    float: none;
  }

  .banner-box {
    margin: .4rem auto 0;
  }

  .img {
    width: 3rem;
    height: 4.3rem;
    border-radius: 1rem;
  }

  .resume-user > .title {
    font-size: .6rem;
  }

  .resume-user > .detail {
    margin: .4rem .1rem .4rem .4rem;
  }

  .resume-user > .detail > span {
    font-size: .32rem;
  }

  .resume-user > .detail > .detail-title {
    width: 1.4rem;
  }

  .resume-user > .detail > .detail-content:before {
    margin-right: .1rem;
  }
  .diary-item>.title {
    font-size: .46rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: .2rem 0;
  }

  .logo {
    font-size: .46rem;
  }

  .banner-title {
    font-size: .8rem;
  }

  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }

  .item {
    margin: .4rem 0 0;
  }

  .contact-item > a {
    font-size: .24rem;
  }

  .contact-item .iconfont {
    font-size: .48rem;
  }

  .article-item {
    margin-left: 0;
    margin-right: 0;
  }

  .resume-box {
    display: block;
    position: relative;
    border: none;
  }

  .resume-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-left: .02rem solid #ccc;
    border-right: .02rem solid #ccc;
    border-bottom: .02rem solid #ccc;
  }

  .resume-user > .title {
    margin: .8rem auto 0;
  }

  .resume-user > .img {
    margin: 1rem auto .2rem;
  }

  .resume-user > .detail {
    margin-left: 40%;
  }

  .resume-left {
    position: relative;
    top: 14.88rem;
    left: 0;
    right: 0;
    border-left: .02rem solid #ccc;
    border-right: .02rem solid #ccc;
    margin-bottom: 1.6rem;
    z-index: 1;
  }

  .resume-item {
    margin-left: 0;
    border-left: none;
  }

  .resume-item > .title {
    position: absolute;
    top: -.32rem;
    left: calc(50% - 2.1rem);
    font-size: .36rem;
    height: .4rem;
    width: 3.6rem;
    line-height: .4rem;
    border-radius: .37rem;
  }

  .resume-item > div > span {
    font-size: .28rem;
  }

  .resume-item > .detail > span {
    font-size: .28rem;
  }

  .resume-item > .detail > ul {
    font-size: .26rem;
  }

  .fix {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .28rem;
  }
  .next-blog {
    display: block;
  }
  .next-blog>span {
    margin-bottom: .2rem;
    display: block;
  }
  .diary-item>.title {
    font-size: .4rem;
  }
  .diary-list {
    margin-left: 0;
  }
  .sign-tag {
    transform: scale(.7);
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
  }
  .diary-item>.sign>span,
  .diary-item>.sign>a {
    font-size: .3rem;
    margin-right: .1rem;
  }
  .diary-detail-item .content code::-webkit-scrollbar-track,
  .diary-detail-item .content code::-webkit-scrollbar-thumb {
    box-shadow: none;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 40px;
  }

  .banner-title {
    font-size: .72rem;
  }

  .banner-text {
    font-size: .36rem;
  }

  .col-ms-12 {
    width: 100%;
  }
  .col-ms-6 {
    width: 50%;
  }

  .contact-item {
    padding: .2rem 0;
  }

  .article-box {
    height: 5rem;
    padding: .6rem .4rem;
  }

  footer {
    padding: .24rem 0;
  }

  .resume-user > .detail {
    margin: 0;
    text-align: center;
    padding-bottom: .24rem;
  }

  .resume-user > .detail:last-child {
    margin-bottom: .4rem;
  }

  .resume-user > .detail > .detail-title {
    display: none;
  }

  .resume-user > .detail > .detail-content:before {
    display: none;
  }

  .resume-left {
    top: 11.52rem;
  }
  .diary-sign>.title {
    font-size: .46rem;
  }
  .diary-list>.title:after {
    width: .2rem;
    height: .2rem;
    left: -.2rem;
  }
  .diary-list>div:not(:last-child):before {
    width: .04rem;
    left: -.02rem;
  }
  .diary-item>.content {
    font-size: 0.32rem;
  }
}

/*打印样式*/
@media print {
  .resume-item > .title {
    font-size: 16px;
  }

  .resume-user > .detail > .detail-title {
    width: 65px;
  }

  .resume-user > .detail > span {
    font-size: 12px;
  }

  .resume-item > div > span,
  .resume-item > .detail > ul {
    font-weight: normal;
  }
}